@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

body{
    margin:auto 100px;
}

.card-container{
  margin:30px;
  padding:40px;
}
.row{
  padding:40px;

}
.search-box, .filter-section {
    background-color: #fff;
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  }

  .search-btn {
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;

  }

  .search-btn:hover {
    background-color: darkorange;
  }

  #pack{
    display: flex;
  flex-wrap: wrap;
  
  justify-content:flex-start; 
  align-items:center;
  
   padding: 10px;

  
    
  }
  .package-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    overflow: hidden;
    transition: 0.3s;
    width: 400px;
    margin:20px;
  
  }

  .package-card:hover {
    transform: scale(1.02);
  }

  .package-card img {
    width: 100%;
    height: 100px;

    object-fit: cover;
  }

  .package-card-content {
    padding: 15px;
  }

  .badge-top {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: darkorange;
    color: white;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 20px;
  }

  .card-location {
    color: orangered;
    font-size: 0.9rem;
    font-weight: 600;
  }

  .card-title {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 5px;
  }

  .sidebar-label {
    font-weight: 600;
    margin-bottom: 10px;
  }

  .form-check-label {
    cursor: pointer;
  }